# Environnement virtuel
monenv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Base de données
*.db
*.sqlite3

# Fichiers système
.DS_Store
Thumbs.db

# Virtual Environment
ENV/

# Credentials
credentials/
*.json

# Scripts
scripts/
# <AIDD-PRIVACY>
#
# You might want to ignore the following files and directories:
#
aidd* # AIDD installation folder
aidd/
aidd-docs/
aidd-generated/

# </AIDD-PRIVACY>