<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Total Ebooks</h5>
            <p class="card-text display-4">{{ stats.total_ebooks }}</p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ebooks en attente</h5>
            <p class="card-text display-4">{{ stats.pending_ebooks }}</p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ebooks validés</h5>
            <p class="card-text display-4">{{ stats.validated_ebooks }}</p>
        </div>
    </div>
</div> 