<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Total Ebooks</h5>
            <p class="card-text display-4">{{ stats.total_ebooks }}</p>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Brouillons</h5>
            <p class="card-text display-4">{{ stats.draft_ebooks }}</p>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">En attente</h5>
            <p class="card-text display-4">{{ stats.pending_ebooks }}</p>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Approuvés</h5>
            <p class="card-text display-4">{{ stats.approved_ebooks }}</p>
        </div>
    </div>
</div> 